%header.navbar.navbar-inverse.navbar-fixed-top.bs-docs-nav{role: "banner"}
  .container
    %nav.bs-docs-nav.navbar-collapse{role: "navigation"}
      %ul.nav.navbar-nav
        %li
          %a{href: ""} Yleistin
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            Language
            %b.caret
          %ul.dropdown-menu
            %li
              %a{href: "#"} English
            %li
              %a{href: "#"} Finnish
            %li.divider
      -#%ul.nav.navbar-nav.navbar-right
      -#  %li
      -#    %a{href: "/users/sign_out"} Sign Out